html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    width: calc(100% - 50px);
    height: 100%;
    margin: 0 0 0 50px;
}

.side-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    z-index: 1000;
    background-color: #FFFFFF;
    box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);
    transition: .3s ease-in-out;
}

.menu-content, .menu-toggle {
    height: 100%;
}

.menu-content {
    position: absolute;
    left: 0;
    width: calc(100% - 50px);
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-y: auto;
}

.menu-toggle {
    position: absolute;
    right: 0;
    width: 50px;
    background: #f1f1f1;
    box-shadow: inset 1px 0 6px 0 rgba(0, 0, 0, 0.16);
}

.menu-toggle:hover {
    cursor: pointer;
}

.menu-toggle .fa {
    position: absolute;
    top: calc(50% - 15px);
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: #888888;
}

.menu-toggle .fa-chevron-right::before, .menu-toggle .fa-chevron-left::before {
    /*font-size: 30px;*/
    /*color: #888888;*/
}

.btn {
    margin: 1rem auto;
}